<div class="container">
    <div class="header">
        <h1>Cadastrar Funcionarios</h1>
    </div>

    <nav id="links">
        <a href="/add/users">Cadastrar Funcionarios</a>
         <a href="/funcionarios">Ver Funcionarios</a>
    </nav>
</div>